<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grgbanking.grgacd.mapper.AcdAgentQueueMapper">


    <!--查询一个客服所在的队列-->
    <select id="selectQueueByAgent" parameterType="integer" resultType="java.lang.String">
        SELECT
            queue_id
        FROM
            acd_agent_queue
        WHERE
            agent_id = #{agentId}
    </select>
</mapper>
