<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.pig.admin.mapper.BizMeetingHistMapper">

    <!-- BizMeetingHist通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.pig.admin.model.entity.BizMeetingHist">
        <id column="id" property="id" />
        <result column="meeting_id" property="meetingId" />
        <result column="meeting_mid" property="meetingMid" />
        <result column="compere" property="compere" />
        <result column="compere_id" property="compereId" />
        <result column="manager" property="manager" />
        <result column="meeting_type" property="meetingType" />
        <result column="meeting_name" property="meetingName" />
        <result column="meeting_info" property="meetingInfo" />
        <result column="num_video" property="numVideo" />
        <result column="num_join" property="numJoin" />
        <result column="created_time" property="createdTime" />
        <result column="update_time" property="updateTime" />
        <result column="start_time" property="startTime" />
        <result column="real_start_time" property="realStartTime" />
        <result column="end_time" property="endTime" />
        <result column="real_end_time" property="realEndTime" />
        <result column="status" property="status" />
        <result column="meeting_pwd" property="meetingPwd" />
        <result column="compere_pwd" property="comperePwd" />
        <result column="video_loop_time" property="videoLoopTime" />
        <result column="video_loop_type" property="videoLoopType" />
        <result column="split_type" property="splitType" />
        <result column="del_time" property="delTime" />
        <result column="del_flag" property="delFlag" />
        <result column="close_type" property="closeType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, meeting_id AS meetingId, meeting_type AS meetingType, meeting_name AS meetingName, compere, compere_id AS compereId, num_video AS numVideo, num_join AS numJoin,
        start_time AS startTime, end_time AS endTime, status, del_flag AS delFlag, meeting_pwd AS meetingPwd, compere_pwd AS comperePwd, created_time AS createdTime
    </sql>

    <insert id="insertBizMeeting">
        INSERT INTO biz_meeting(meeting_id, start_time) VALUES(#{meetingId}, #{startTime})
    </insert>
</mapper>
